.container {
    background-color: var(--color-lightgrey);
    border-radius: 15px 15px 0px 0px;
    height: 80%;
    padding: 1rem;
    width: 70%;
    display: grid;
    grid-template-areas: 
        "."
        "container__title"
        "input"
        "."
        "list"
    ;
    row-gap: 1rem;
}

.container__title {
    grid-area: container__title;
    font-size: 3rem;
    font-weight: 400;
}