.container {
    background-color: var(--color-lightgrey);
    border-radius: 15px 15px 0px 0px;
    height: 80%;
    padding: 1rem;
    padding-top: 2rem;
    width: 70%;
    display: grid;
    grid-template-areas: 
        "container__title"
        "input"
        "list"
    ;
    grid-template-rows: repeat(2, 2fr) 70%;
    row-gap: 1.5rem;
}

.container__title {
    grid-area: container__title;
    font-size: 3rem;
    font-weight: 400;
}

@media screen and (max-width: 800px) {
    .container__title {
        font-size: 2.5rem;
    }
}