.list__item {
    display: flex;
    justify-content: space-evenly;
    background-color: var(--color-darkgrey);
    border-radius: 15px;
    margin: 0 0.3rem 0.5rem 0;
    height: 3.2rem;
}

.item__input {
    width: 70%;
    background-color: transparent;
    border: none;
    border-radius: 15px;
    padding: 0.5rem;
    font-size: 1.2rem;
    color: var(--color-white);
}

.item__button-edit, .item__button-save {
    display: none;
    padding: 0;
    width: 10%;
    border: none;
    border-radius: 15px;
    background-color: transparent;
    font-size: 1rem;
    font-weight: 800;
    text-transform: uppercase;
    background: -webkit-linear-gradient(45deg, var(--color-pink), var(--color-purple));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* ***** Opção com Imagens .svg ****

.item__button-edit {
    background-image: url(../img/edit.svg);
}

.item__button-save {
    background-image: url(../img/save.svg);
}
.item__button-edit, .item__button-save {
    width: 3.2rem;
    border: none;
    border-radius: 15px;
    background-color: transparent;
    display: none;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
} */

.active {
    display: block;
}

.item__button-delete {
    border: none;
    border-radius: 15px;
    background-color: transparent;
    color: var(--color-red);
    padding: 0;
    width: 12%;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 800;
}

.item__button-edit:hover, .item__button-save:hover, .item__button-delete:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.5s;
}

@media screen and (max-width: 930px) {
    .item__button-delete {
        width: 14%;
    }
}

@media screen and (max-width: 800px) {
    .item__input {
        font-size: 1.0rem;
        width: 65%;
    }

    .item__button-delete, .item__button-edit, .item__button-save {
        font-size: 0.8rem;
    }
}