.list {
    grid-area: list;
    display: grid;
    grid-template-rows: 2rem auto;
    gap: 0.5rem;
    height: 255px;
}

.list__title {
    font-size: 2rem;
    font-weight: 200;
}

.list__items {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
}

::-webkit-scrollbar {
    display: absolute;
    width: 0.75rem;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(var(--color-pink), var(--color-purple));
    border: solid 5px var(--color-mediumgrey);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    border: solid 2px var(--color-mediumgrey);
}

::-webkit-scrollbar-track {
    background: var(--color-font);
    border-radius: 10px;
}