@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

:root {
    --color-pink: #D51E5E;
    --color-red: #C5203F;
    --color-purple: #8E38FD;
    --color-darkgrey: #111828;
    --color-mediumgrey: #202938;
    --color-lightgrey: #384152;
    --color-font: #606B7E;
    --color-white: #E5E1EB;
}

* {
    box-sizing: border-box;
}

body {
    background: linear-gradient(140deg, var(--color-pink), var(--color-purple));
    font-family: 'Roboto', sans-serif;
    color: var(--color-font);
    display: flex;
    align-items: end;
    justify-content: center;
    height: 100vh;
}